@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remote Work Management</title>
    <link href="~/Content/bootstrap/css/jquery-ui-1.10.3.full.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/ace-fonts.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/ace.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/sidebarmenu.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/ace-skins.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/prettify.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/chosen.css" rel="stylesheet" />
    <link href="~/Scripts/app/Directives/chosen-spinner.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/validator/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/notificationscss/ns-default.css" rel="stylesheet" />
    <link href="~/Content/notificationscss/ns-style-other.css" rel="stylesheet" />
    <link href="~/Content/notificationscss/component.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/notification.css" rel="stylesheet" />
    
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default" id="navbar">
        <script type="text/javascript">
            try {
                ace.settings.check('navbar', 'fixed');
            }
            catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="#">
                    <small>
                        <i class="icon-leaf"></i>
                    </small>
                    Scio Consulting
                </a>
            </div>
            <div class="navbar-header pull-right" role="navigation">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav ace-nav">
                            <li class="grey">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-tasks"></i>
                                    <span class="badge badge-grey">4</span>
                                </a>
                            </li>
                            <li class="purple">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-bell-alt icon-animated-bell"></i>
                                    <span class="badge badge-important">8</span>
                                </a>
                            </li>
                            <li class="green">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <i class="icon-envelope icon-animated-vertical"></i>
                                    <span class="badge badge-success">5</span>
                                </a>
                            </li>
                            <li class="light-blue">
                                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                                    <img class="nav-user-photo" src="~/Content/avatar/profile-default.png" alt="Jason's Photo" />
                                    <span class="user-info">
                                        <small>Welcome,</small>
                                        @User.Identity.Name
                                    </span>
                                    <i class="icon-caret-down"></i>
                                </a>
                                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                    @*<li>
                                            <a href="/Profile/">
                                                <i class="icon-user"></i>
                                                Profile
                                            </a>
                                        </li>*@
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/TeamMember/Profile">
                                            <i class="icon-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="icon-off"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed'); } catch (e) { }
        </script>
        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'fixed'); } catch (e) { }
                </script>
                <ul class="nav nav-list">
                    <li class="active">
                        <a href="/Admin/Index">
                            <i class="icon-dashboard"></i>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Admin/Users">
                            <i class="icon-user"></i>
                            <span class="menu-text">Users</span>
                        </a>
                    </li>
                        <li>
                            <a href="/Admin/Notifications">
                                <i class="icon-bell"></i>
                                <span class="menu-text">Notification</span>
                            </a>
                        </li>
                    <li>
                        <a href="/Admin/Reports">
                            <i class="icon-eye-open"></i>
                            <span class="menu-text">Reports</span>
                        </a>
                    </li>
                    <li>
                        <a href="/Messages/Index">
                            <i class="icon-envelope"></i>
                            <span class="menu-text">Messages</span>
                        </a>
                    </li>
                     @if (User.IsInRole("TeamMember"))
                     {
                      
                     }
                </ul>
                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>
                <script type="text/javascript">
                    try { ace.settings.check('sidebar', 'collapsed'); } catch (e) { }
                </script>
            </div>
            <div class="main-content" ng-app="RemoteManagement">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/mainScripts")
    <script type="text/javascript" src="~/Scripts/sugar/sugar.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular-file-upload-shim.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app/app.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Controllers/UsersCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Controllers/NotificationsCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Controllers/AccountCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Controllers/TeamMemberCtrl.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Services/UsersService.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Directives/chosen.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Directives/popup.js"></script>
    <script type="text/javascript" src="~/Scripts/app/Directives/notification.js"></script>
    <script type="text/javascript" src="~/Scripts/angular/checklist-model.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications/modernizr.custom.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications/snap.svg-min.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications/classie.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications/notificationFx.js"></script>
    <script type="text/javascript" src="~/Scripts/notifications/progressButton.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap/validator/js/bootstrapValidator.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
